body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}
.container {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #efefef;
  max-width: 800px;
  margin-top: 100px;
  padding: 10px;
  background-color: #ffffff;
  padding: 15px;
}

.heading {
  display: flex;
  flex-direction: row;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-left: 5px;
  transition: box-shadow 0.3s ease;
}

.search-input {
  border: 1px solid #e3e3e3;
  padding: 8px;
  border-radius: 10px;
  font-family: "Comfortaa", cursive;
  width: 100%;
  transition: box-shadow 0.3s ease;
}
.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #ececec;
}
.search-icon {
  position: absolute;
  margin-left: 350px;
  color: #c9c9c9;
}
.search-input:hover {
  box-shadow: 0 4px 8px 0 rgba(129, 129, 129, 0.2);
}

.homeButton {
  display: flex;
  color: #bbbbbb;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  transition: box-shadow 0.3s ease, background-color 0.2s ease;
  margin-right: 5px;
}

.homeButton:hover {
  box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.2);
}
.homeButton:active {
  background-color: #ee9dc7;
  scale: 95%;
}
.main-info {
  margin-top: 10px;
}
.city-temperature-current {
  font-family: "Share Tech Mono", monospace;
  margin-left: 60px;

  max-width: 120px;
  line-height: 1.3;
  margin-top: 17px;
  padding: 0;
}
.cityCurrent {
  font-size: 27px;
  word-break: break-word;
}
.temperatureToday {
  font-size: 55px;
  font-weight: 500;
  display: flex;
  margin-left: -3px;
}
.changeTempLink {
  text-decoration: none;
}
.changeTemp {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin-left: 6px;
}
.borderTemp {
  margin-left: 5px;
}
.changeTempF {
  color: #b1b1b1;
}

.date-temperature-current {
  margin-top: 20px;
  margin-left: 170px;
  margin-right: 60px;
  text-align: right;
  font-family: "Comfortaa", cursive;
}
.dateCurrent {
  font-size: 16px;
  color: #858585;
}
.morning-evening-temperature {
  font-size: 14px;
  line-height: 1.4;
  color: #858585;
}

.weatherIcon {
  width: 100px;
  height: 100px;
}
.temperature-status {
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
}
.additional-info {
  margin-top: 35px;
  padding: 0;
  margin-right: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  line-height: 1.4;
  color: #858585;
}
.week-forecast {
  margin-top: 40px;
}
.weekday {
  font-family: "Share Tech Mono", monospace;
  font-weight: 500;
}
.forecast-icon {
  margin-top: 20px;
  font-size: 50px;
}
.forecast-text {
  margin-top: 30px;
  font-family: "Comfortaa", cursive;
}
.evening-temperature {
  color: #858585;
}

.clicked {
  color: black;
}

.whoCoded {
  text-align: center;
  margin-top: 10px;
}
.link {
  text-decoration: none;
  color: #d04b84;
}
